<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement"/>

  </configSections>
  <exceptionManagement mode="On">
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.CustomPublisher.FileExceptionPublisher" fileName="D:\WRPErrorLog\WebSiteErrorLog.txt" exclude="System.Threading.ThreadAbortException"/>
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.CustomPublisher.EmailExceptionPublisher" exclude="System.Threading.ThreadAbortException"/>
  </exceptionManagement>

  <connectionStrings>
 
    <add name="WealthERP" connectionString="Server=124.153.106.54;Database=WealthERP;User Id=platinum;Password=crazyWERP4us" providerName="System.Data.SqlClient"/>
    <add name="MoneyTouch" connectionString="Server=124.153.106.54;Database=MoneyTouch_APP;User Id=platinum;Password=crazyWERP4us" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
  <add key="SMTPSvr" value="127.0.0.1" />
  <add key="ExceptionMailFrom" value="ExceptionManager@principalconsulting.net" />
  <add key="ExceptionMailTo" value="pcgtechteam@yahoogroups.co.in" />
  <add key ="mailTo" value="ssujith@ampsys.in;mjamwal@ampsys.in;vsingh@ampsys.in;ndixit@ampsys.in"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="admin@wealtherp.com">
        <network defaultCredentials="false" host="smtpout.secureserver.net" port="3535" userName="admin@wealtherp.com" password="Ampsys123#"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>