<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement"/>

  </configSections>
  <exceptionManagement mode="On">
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.CustomPublisher.FileExceptionPublisher" fileName="D:\WRPErrorLog\WebSiteErrorLog.txt" exclude="System.Threading.ThreadAbortException"/>
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.CustomPublisher.EmailExceptionPublisher" exclude="System.Threading.ThreadAbortException"/>
  </exceptionManagement>
  <appSettings>
    <add key="SMTPSvr" value="127.0.0.1" />

    <add key="ExceptionMailFrom" value="ExceptionManager@principalconsulting.net" />
    <add key="ExceptionMailTo" value="pcgtechteam@yahoogroups.co.in" />

  </appSettings>
  <connectionStrings>
    <add name="wealtherp" connectionString="Server=192.168.0.1;Database=WealthERP_S;User Id=platinum;Password=crazyWERP4us" providerName="System.Data.SqlClient"/>

  </connectionStrings>

</configuration>