<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
 <table width="80%" align="center">
        <tr>
            <td>            
    Dear Partner,
    <br />
    <b>Welcome to the Moneytouch family and thank you for registering with us.</b><br />
    Please click on the link and enter the user Id and password mentioned below:<br />    
    <table>
    <tr><td align="right">LoginId :</td><td> [LOGIN-ID]</td></tr>
    <tr><td align="right">Password :</td><td>[PASSWORD]</td></tr>
    <tr><td align="right">URL :</td><td> <a href="http://app.moneytouch.in">http://app.moneytouch.in</a>
    </td></tr></table>
    Please feel free to send us feedback through the feedback link on our website or write to us at <a href="feedback@touchbase.co.in">feedback@touchbase.co.in</a>
    <br />
    Thank you once again for choosing Moneytouch Retail Financial Services as your partner.
                <br />
    <br />
    Warm regards,<br />
    Moneytouch Team<br />
    <br />
    Please don't reply to this e-mail, it is an unmonitored mailbox! Thank you.
                </td>
        </tr>
    </table>
</body>
</html>



