<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <table width="80%" align="center">
        <tr>
            <td>

                Hello Administrator,
                <br />
                <br />
                <b>A new adviser has been registered in</b><a href="http://www.moneytouch360.com"><b>www.moneytouch360.com</b></a>
                <br />
                Login information is as follows:<br />
                <br />
                <table>
                <tr><td align="right">
                Organization Name :</td><td>[ORGANIZATION-NAME]</td></tr>
                <tr><td align="right">Name :</td><td>[NAME]</td></tr>
                <tr><td align="right">City :</td><td>[CITY]</td></tr>
                <tr><td align="right">Mobile No :</td><td>[MOBILE NO]</td></tr>
                <tr><td align="right">Email Id :</td><td>[EMAIL-ID]</td></tr>
                <tr><td align="right">LoginId :</td><td>[LOGIN-ID]</td></tr>
                </table>
                <br />
                <br />
                Regards,<br />
                Moneytouch Team<br />
            </td>
        </tr>
    </table>
</body>
</html>
