<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    Dear [Name],
    <br />
    <br />
    An account has been created for you in MoneyTouch<br />
    <br />
    Your login information is as follows:<br />
    LoginId : [LOGIN-ID]<br />
    Password : [PASSWORD]<br />
    <br />
    URL : <a href="http://app.moneytouch.in">http://app.moneytouch.in</a><br />
    <br />
    Regards,<br />
    MoneyTouch Team<br />
</body>
</html>
