<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <table width="80%" align="center">
        <tr>
            <td>

                <br />
                Dear [Name],
                <br />
                <b>An account has been created for you in MoneyTouch</b><br />
                Your login information is as follows:<br />
                <br />
                <table>
                    <tr>
                        <td align="right">
                            LoginId :
                        </td>
                        <td>
                            [LOGIN-ID]
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            Password :
                        </td>
                        <td>
                            [PASSWORD]
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            URL :
                        </td>
                        <td>
                            <a href="http://app.moneytouch.in">http://app.moneytouch.in</a><br />
                        </td>
                    </tr>
                </table>
                <br />
                Regards,<br />
                MoneyTouch Team<br />
            </td>
        </tr>
    </table>
</body>
</html>
