<html>
<body>
    <table align="center" width="60%">
        <tr>
            <td>
                <img src="Money_Touch_360_logo1.gif" alt="MoneyTouch360&deg" height="60px">
            </td>
            <td align="right" valign="bottom">
                <a href="http://www.moneytouch.in">www.moneytouch.in</a>
            </td>
        </tr>
    </table>
    <table align="center" width="60%">
        <tr>
            <td>
                <hr />
            </td>
        </tr>
    </table>
    <table width="60%" align="center">
        <tr>
            <td style="background-color: #e4e9f3">
                <!-- <img alt="MoneyTouch" id="CompanyLogo" runat="server" src="/Images/Money_Touch_360_logo.png"
                    style="height: 40px; width: 20px" />-->
                <!--<img src="/Images/Money_Touch_360_logo1.png" style="height: 60px; width: 180px;"
                    alt="MoneyTouch" />
                <hr /> -->
                <br />
                Dear [Name],
                <br />
                <b>An account has been created for you in MoneyTouch.</b><br />
                Your login information is as follows:<br />
                <br />
                <table>
                    <tr>
                        <td align="right">
                            LoginId :
                        </td>
                        <td>
                            [LOGIN-ID]<br />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            Password :
                        </td>
                        <td>
                            [PASSWORD]<br />
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            URL :
                        </td>
                        <td>
                            <a href="http://www.moneytouch360.com">http://www.moneytouch360.com</a><br />
                        </td>
                    </tr>
                </table>
                <br />
                Regards,<br />
                MoneyTouch Team<br />
            </td>
        </tr>
    </table>
</body>
</html>
