<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
    <table width="80%" align="center">
        <tr>
            <td>
<!--            <img src="/Images/Money_Touch_360_logo1.png" style="height: 60px; width: 180px;"
                    alt="MoneyTouch" />
                    <hr />--><br />
                Dear [Name],
                <br />
                <b>Your Password has been successfully reset.</b>
                <br />
                Your login information is as follows:<br />
                <br />
                <table>
                    <tr>
                        <td align="right">
                            LoginId :
                        </td>
                        <td>
                            [LOGIN-ID]
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            Password :
                        </td>
                        <td>
                            [PASSWORD]
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            URL :
                        </td>
                        <td>
                            <a href="http://www.moneytouch360.com">http://www.moneytouch360.com</a>
                        </td>
                    </tr>
                </table>
                Regards,<br />
                MoneyTouch Team<br />
            </td>
        </tr>
    </table>
</body>
</html>
