/*Telerik RadGrid Vista Skin*/

/*global*/

.RadGrid_Telerik
{
    border:1px solid #9cb6c5;
    background:#fff;
    color:#333;
}

.RadGrid_Telerik,
.RadGrid_Telerik .rgMasterTable,
.RadGrid_Telerik .rgDetailTable,
.RadGrid_Telerik .rgGroupPanel table,
.RadGrid_Telerik .rgCommandRow table,
.RadGrid_Telerik .rgEditForm table,
.RadGrid_Telerik .rgPager table,
.GridToolTip_Telerik
{
    font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_Telerik .rgHeader:first-child,
.RadGrid_Telerik th.rgResizeCol:first-child,
.RadGrid_Telerik .rgFilterRow>td:first-child,
.RadGrid_Telerik .rgRow>td:first-child,
.RadGrid_Telerik .rgAltRow>td:first-child
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_Telerik .rgAdd,
.RadGrid_Telerik .rgRefresh,
.RadGrid_Telerik .rgEdit,
.RadGrid_Telerik .rgDel,
.RadGrid_Telerik .rgFilter,
.RadGrid_Telerik .rgPagePrev,
.RadGrid_Telerik .rgPageNext,
.RadGrid_Telerik .rgPageFirst,
.RadGrid_Telerik .rgPageLast,
.RadGrid_Telerik .rgExpand,
.RadGrid_Telerik .rgCollapse,
.RadGrid_Telerik .rgSortAsc,
.RadGrid_Telerik .rgSortDesc,
.RadGrid_Telerik .rgUpdate,
.RadGrid_Telerik .rgCancel,
.RadGrid_Telerik .rgUngroup,
.RadGrid_Telerik .rgExpXLS,
.RadGrid_Telerik .rgExpDOC,
.RadGrid_Telerik .rgExpPDF,
.RadGrid_Telerik .rgExpCSV
{
	background-image:url('Grid/sprite.gif');
}

/*header*/

.RadGrid_Telerik .rgHeaderDiv
{
	background:#ebeef6 0 -7750px repeat-x url('Grid/sprite.gif');
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -7250px;
}

.RadGrid_Telerik .rgHeader,
.RadGrid_Telerik th.rgResizeCol
{
	border:1px solid;
	border-color:#fff #dcf2fc #3c7fb1 #8bbdde;
	border-top:0;
	background:0 -2300px repeat-x #a6d9f4 url('Grid/sprite.gif');
}

.RadGrid_Telerik th.rgSorted
{
	border-bottom-color:#79b3d8;
	background-color:#d9ecf6;
	background-position:0 -2600px;
}

.RadGrid_Telerik .rgHeader,
.RadGrid_Telerik .rgHeader a
{
    color:#333;
}

/*rows*/

.RadGrid_Telerik .rgRow td,
.RadGrid_Telerik .rgAltRow td,
.RadGrid_Telerik .rgEditRow td,
.RadGrid_Telerik .rgFooter td
{
	border-style:solid;
	border-width:0 1px 1px;
}

.RadGrid_Telerik .rgRow td,
.RadGrid_Telerik .rgAltRow td
{
	border-color:#fff #fff #fff #ededed;
}

.RadGrid_Telerik .rgRow .rgSorted,
.RadGrid_Telerik .rgAltRow .rgSorted
{
	background-color:#f2f3f5;
}

.RadGrid_Telerik .rgSelectedRow .rgSorted,
.RadGrid_Telerik .rgActiveRow .rgSorted,
.RadGrid_Telerik .rgHoveredRow .rgSorted,
.RadGrid_Telerik .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_Telerik .rgRow a,
.RadGrid_Telerik .rgAltRow a,
.RadGrid_Telerik .rgEditRow a,
.RadGrid_Telerik .rgFooter a,
.RadGrid_Telerik .rgEditForm a
{
	color:#06c;
}

.RadGrid_Telerik .rgSelectedRow
{
    background:#abdbf5 0 -3900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Telerik .rgSelectedRow .rgSorted{background-color:#abdbf5}
* html .RadGrid_Telerik .rgSelectedRow .rgSorted{background-color:#abdbf5}

.RadGrid_Telerik .rgActiveRow,
.RadGrid_Telerik .rgHoveredRow
{
    background:#d7f0fc 0 -2900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Telerik .rgActiveRow .rgSorted,
*+html .RadGrid_Telerik .rgHoveredRow .rgSorted{background-color:#d7f0fc}
* html .RadGrid_Telerik .rgActiveRow .rgSorted,
* html .RadGrid_Telerik .rgHoveredRow .rgSorted{background-color:#d7f0fc}

.RadGrid_Telerik .rgEditRow
{
	background:#96cfee 0 -4900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Telerik .rgEditRow .rgSorted{background-color:#96cfee}
* html .RadGrid_Telerik .rgEditRow .rgSorted{background-color:#96cfee}

.RadGrid_Telerik .rgSelectedRow td,
.RadGrid_Telerik .rgActiveRow td,
.RadGrid_Telerik .rgHoveredRow td,
.RadGrid_Telerik .rgEditRow td
{
	border-left:0;
	border-right:0;
	padding-left:8px;
	padding-right:8px;
}

.RadGrid_Telerik .rgSelectedRow td
{
	background-color: #8361E8 !important;
	color: White !important;
     font-weight: bold !important;
}

.RadGrid_Telerik .rgActiveRow td,
.RadGrid_Telerik .rgHoveredRow td
{
	border-bottom-color:#99defd;
}

.RadGrid_Telerik .rgEditRow td
{
	border-bottom-color:#96cfee;
}

.RadGrid_Telerik .rgDrag
{
	background-image:url('Grid/rgDrag.gif');
}

/*footer*/

.RadGrid_Telerik .rgFooterDiv,
.RadGrid_Telerik .rgFooter
{
	background-image:url('Grid/rgCommandRow.gif');
	color : White;
	font-weight: bold;
}

.RadGrid_Telerik .rgFooter td
{
	border-top-width:1px;
	border-color:#aec5d1 #e0e5f5 #fff #e0e5f5;
}

/*status*/

.RadGrid_Telerik .rgPager .rgStatus
{
	border:1px solid;
	border-color:#aec5d1 #9cb6c5 #fff #9cb6c5;
	border-left:0;
}

.RadGrid_Telerik .rgStatus div
{
	background-image:url('Common/loading_small.gif');
}

/*pager*/

.RadGrid_Telerik .rgPager
{
	background:#eff7fc;
}

.RadGrid_Telerik td.rgPagerCell
{
	border:1px solid;
	border-color:#aec5d1 #fff #fff;
	border-right:0;
}

.RadGrid_Telerik .rgInfoPart
{
	color:#8a8a8a;
}

.RadGrid_Telerik .rgInfoPart strong
{
	color:#4c4e54;
}

.RadGrid_Telerik .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_Telerik .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_Telerik .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_Telerik .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_Telerik .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_Telerik .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_Telerik .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_Telerik .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_Telerik .rgPager .rgPagerButton
{
	border-color:#a6d9f4;
	background:#cfcfcf repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#000;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadGrid_Telerik .rgNumPart a:hover,
.RadGrid_Telerik .rgNumPart a:hover span,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadGrid_Telerik .rgNumPart a
{
	color:#000;
}

.RadGrid_Telerik .rgNumPart a:hover
{
	background-position:100% -1250px;
	color:#06c;
}

.RadGrid_Telerik .rgNumPart a:hover span
{
	background-position:0 -1150px;
}

.RadGrid_Telerik .rgNumPart a.rgCurrentPage,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
	color:#000;
}

.RadGrid_Telerik .rgNumPart a.rgCurrentPage span,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
}

/*sorting, reordering*/

.RadGrid_Telerik .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_Telerik .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_Telerik,
.GridReorderBottom_Telerik
{
	height:11px;
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_Telerik
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_Telerik .rgFilterRow
{
	background:#ebeef6;
}

.RadGrid_Telerik .rgFilterRow td
{
    border-left:1px solid #ededed;
    border-right:1px solid #fff;
}

.RadGrid_Telerik .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_Telerik .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_Telerik .rgFilterActive,
.RadGrid_Telerik .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_Telerik .rgFilterBox
{
	border-color:#abadb3 #dbdfe6 #e3e9ef #e2e3ea;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
}

/*filter context menu*/

.RadMenu_Telerik .rgHCMClear,
.RadMenu_Telerik .rgHCMFilter
{
	border-color:#707070;
	background:#cfcfcf center -23px repeat-x url('FormDecorator/ButtonSprites.gif');
	color:#000;
	font-family:"segoe ui",arial,sans-serif;
}

.RadMenu_Telerik .rgHCMClear:hover,
.RadMenu_Telerik .rgHCMFilter:hover
{
	border-color:#3c7fb1;
	background-position:center -67px;
	background-color:#a7d9f5;
}

/*grouping*/

.RadGrid_Telerik .rgGroupPanel
{
	border:1px solid;
	border-color:#eaedf6 #f2f5fa #9cb6c5;
	background:#e6ebf5 0 -1900px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Telerik .rgGroupPanel td
{
	border:0;
	border-bottom:1px solid #f2f5fa;
	padding:0;
}

.RadGrid_Telerik .rgGroupPanel td td
{
	border:0;
	padding:2px 3px 1px;
}

.RadGrid_Telerik .rgGroupPanel td td td
{
	padding:0;
}

.RadGrid_Telerik .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_Telerik .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_Telerik .rgUngroup
{
	background-position:0 -7200px;
}

.RadGrid_Telerik .rgGroupItem
{
	border:1px solid;
	border-color:#8a929e #9298a1 #9298a1;
	background:#e6ebf5 0 -7000px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Telerik .rgGroupHeader
{
    background:0 -6489px repeat-x url('Grid/sprite.gif');
    font-size:1.1em;
    line-height:21px;
	color:#039;
}

.RadGrid_Telerik .rgGroupHeader td
{
    padding:0 8px;
}

.RadGrid_Telerik .rgGroupHeader .rgGroupCol
{
	background:#fff none;
}

.RadGrid_Telerik .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_Telerik .rgCollapse
{
	background-position:3px -444px;
}

.RadGrid_Telerik .rgGroupHeader .rgExpand,
.RadGrid_Telerik .rgGroupHeader .rgCollapse
{
	background-color:#fff;
}

.RadGrid_Telerik .rgGroupHeader td p,
.RadGrid_Telerik .rgGroupHeader td div div
{
    background:#fff;
}

/*editing*/

.RadGrid_Telerik .rgEditForm
{
	border-bottom:1px solid #ededed;
}

.RadGrid_Telerik .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_Telerik .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_Telerik .rgDetailTable
{
	border-color:#ededed;
}

/*command row*/

.RadGrid_Telerik .rgCommandRow
{
	background:#4e96aa 0 0 repeat-x url('Grid/rgCommandRow.gif');
	color:#fff;
}

.RadGrid_Telerik .rgCommandCell
{
	border:0;
	padding:0;
}

.RadGrid_Telerik thead .rgCommandCell
{
	border-bottom:1px solid #3c7fb1;
}

.RadGrid_Telerik tfoot .rgCommandCell,
.RadGrid_Telerik .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell
{
	border-top:1px solid #3c7fb1;
}

.RadGrid_Telerik .rgCommandTable td
{
	border:0;
	padding:2px 7px;
	background-color: #7CA64C !important;
}

.RadGrid_Telerik .rgCommandTable
{
	border:1px solid;
	border-color:#4CA559 #6BCE7A #B7F4B0;
}
.RadGrid_Telerik .rgCommandRow a
{
	color:#fff;
	text-decoration:none;
}

.RadGrid_Telerik .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_Telerik .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_Telerik .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_Telerik .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_Telerik .rgExpXLS,
.RadGrid_Telerik .rgExpDOC,
.RadGrid_Telerik .rgExpPDF,
.RadGrid_Telerik .rgExpCSV
{
	background-image:url('Grid/export.gif');
}

.RadGrid_Telerik .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_Telerik .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_Telerik .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_Telerik .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_Telerik
{
	background:#039;
}

/*row drag n drop*/

.GridItemDropIndicator_Telerik
{
    border-top:1px dashed #039;
}

/*tooltip*/

.GridToolTip_Telerik
{
	border:1px solid #767676;
	padding:3px;
	background:#e4e5f0;
	color:#000;
}

/*rtl*/

.RadGridRTL_Telerik .rgHeader:first-child,
.RadGridRTL_Telerik th.rgResizeCol:first-child,
.RadGridRTL_Telerik .rgFilterRow>td:first-child,
.RadGridRTL_Telerik .rgRow>td:first-child,
.RadGridRTL_Telerik .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_Telerik .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_Telerik .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_Telerik .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_Telerik .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_Telerik .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_Telerik .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_Telerik .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_Telerik .rgPageLast:hover
{
	background-position:0 -600px;
}





 div.RadGrid_Telerik .rgCommandRow {

	background-image: url('ImageHandler.ashx?mode=get&suite=aspnet-ajax&control=Grid&skin=Telerik&file=rgCommandRow.gif&t=1437799218');

}

 div.RadGrid_Telerik th.rgResizeCol {

	background-image: none;

	background-color: rgb(173, 146, 249);

}

/*  For Grid View Headder Text and Background */
 div.RadGrid_Telerik .rgHeader {

	background:transparent url('Grid/rgCommandRow.gif');

	color: WHITE;

	font-weight: BOLD;

}

 div.RadGrid_Telerik .rgHeader a {

	color: #ffffff;

	font-weight: bold;

}
/*  End */

 div.RadGrid_Telerik .rgFilterRow td {

	background-color: rgb(171, 146, 244);

}

 div.RadGrid_Telerik .rgRow td {

	background-color: #F1EDFF;

	color: rgb(0, 0, 0);

}

 div.RadGrid_Telerik .rgAltRow td {

	background-color: #CEBEFB;

	color: rgb(0, 0, 0);

}

 div.RadGrid_Telerik .rgFooter td {

	background-image: url('ImageHandler.ashx?mode=get&suite=aspnet-ajax&control=Grid&skin=Telerik&file=rgCommandRow.gif&t=1437799218');

	color: rgb(255, 255, 255);

}

 div.RadGrid_Telerik .rgPager {

	background-color: rgb(173, 146, 249);

}

