/*sbi*/



.RadTabStrip_Telerik .rtsLI, .RadTabStrip_Telerik .rtsLink
{
    color: #000000;
    font: 12px/26px "Segoe UI" , Arial, sans-serif;
    border-radius: 2px;
    margin: 2px 2px;
    
}
.RadTabStrip_Telerik .rtsLevel .rtsLink:hover, .RadTabStrip_Telerik .rtsLevel .rtsSelected, .RadTabStrip_Telerik .rtsLevel .rtsSelected:hover
{
    text-decoration: underline;
}

.RadTabStrip_Telerik .rtsLevel1 .rtsLink:hover, .RadTabStrip_Telerik .rtsLevel1 .rtsSelected, .RadTabStrip_Telerik .rtsLevel1 .rtsSelected:hover
{
    text-decoration: none;
}


.RadTabStripLeft_Telerik .rtsSeparator, .RadTabStripRight_Telerik .rtsSeparator
{
    background: #898C95;
}
div.RadTabStrip_Telerik a.rtsLink:focus
{
    outline-color: #000;
}


/* <disabled tabs> */
.RadTabStrip_Telerik .rtsDisabled
{
    color: black;
}
/* </disabled tabs> */

/* <scrolling arrows> */
.RadTabStrip_Telerik .rtsNextArrow, .RadTabStrip_Telerik .rtsPrevArrow, .RadTabStrip_Telerik .rtsPrevArrowDisabled, .RadTabStrip_Telerik .rtsNextArrowDisabled
{
    background-image: url('TabStrip/TabStripVStates.png');
}
/* </scrolling arrows> */

/* <tab backgrounds> */
.RadTabStripTop_Telerik .rtsLevel
{
    background: #c2d197;
}

.RadTabStripTop_Telerik .rtsLevel1
{
    background-color: transparent;
}

.RadTabStripTop_Telerik .rtsLevel .rtsLink, .RadTabStripTop_Telerik .rtsLevel .rtsOut
{
    background-image: none;
}
.RadTabStripTop_Telerik .rtsLevel .rtsLink, .RadTabStripTop_Telerik .rtsLevel .rtsOut, .RadTabStripBottom_Telerik .rtsLevel .rtsLink, .RadTabStripBottom_Telerik .rtsLevel .rtsOut, .RadTabStripTop_Telerik_Baseline .rtsLevel, .RadTabStripBottom_Telerik_Baseline .rtsLevel
{
    background-image: url('TabStrip/TabStripVStates.png');
}

.RadTabStripLeft_Telerik .rtsLink, .RadTabStripRight_Telerik .rtsLink
{
    background-image: url('TabStrip/TabStripStates.png');
     margin: 2px 2px;
}

.RadTabStripLeft_Telerik .rtsLast .rtsLink, .RadTabStripRight_Telerik .rtsLast .rtsLink
{
    border-bottom: 2px solid blue;
}
/*
.RadTabStripRight_Telerik .rtsLink,
.RadTabStripRight_Telerik .rtsLI .rtsDisabled:hover { background-position: 100% 0; }
.RadTabStripRight_Telerik .rtsLink:hover { background-position: 100% 200px; }
.RadTabStripRight_Telerik .rtsSelected,
.RadTabStripRight_Telerik .rtsSelected:hover { background-position: 100% 400px; }
 </tab backgrounds> */


/* <background positioning: tabs with hovers> */

/* <orientation: top> */.RadTabStripTop_Telerik .rtsLevel1 .rtsLink
{
    background-position: 0 -52px;
     margin: 2px 2px;
}
.RadTabStripTop_Telerik .rtsLevel1 .rtsFirst .rtsLink
{
    background-position: 0 0;
     margin: 2px 2px;
}
.RadTabStripTop_Telerik .rtsLevel1 .rtsOut
{
    background-position: 100% -52px;
     margin: 2px 2px;
}
.RadTabStripTop_Telerik .rtsLevel1 .rtsLast .rtsOut
{
    background-position: 100% 0;
     margin: 2px 2px;
}

.RadTabStripTop_Telerik .rtsLevel1 .rtsLI .rtsSelected
{
    background-position: 0 -26px;
    background-image: url('TabStrip/TabStripStates.png');
     margin: 2px 2px;
}
.RadTabStripTop_Telerik .rtsLevel1 .rtsSelected .rtsOut
{
    background-position: 100% -78px;
    background-image: url('TabStrip/TabStripStates.png');
     margin: 2px 2px;
}
.RadTabStripTop_Telerik .rtsLevel1 .rtsLI .rtsAfter
{
    background-position: 0 -78px;
     margin: 2px 2px;
}

.RadTabStripTop_Telerik .rtsLevel1 .rtsLast .rtsSelected .rtsOut
{
    background-position: 100% -26px;
     margin: 2px 2px;
}

.RadTabStripTop_Telerik_Baseline .rtsLevel1
{
    background-position: 0 100%;
    background-repeat: repeat-x;
     margin: 2px 2px;
}

/* </orientation: top> */

/* <orientation: bottom> */
.RadTabStripBottom_Telerik .rtsLevel1 .rtsLink
{
    background-position: 0 -130px;
     margin: 2px 2px;
}
.RadTabStripBottom_Telerik .rtsLevel1 .rtsFirst .rtsLink
{
    background-position: 0 -182px;
}
.RadTabStripBottom_Telerik .rtsLevel1 .rtsOut
{
    background-position: 100% -130px;
     margin: 2px 2px;
}
.RadTabStripBottom_Telerik .rtsLevel1 .rtsLast .rtsOut
{
    background-position: 100% -182px;
     margin: 2px 2px;
}

.RadTabStripBottom_Telerik .rtsLevel1 .rtsLI .rtsSelected
{
    background-position: 0 -156px;
     margin: 2px 2px;
}
.RadTabStripBottom_Telerik .rtsLevel1 .rtsSelected .rtsOut
{
    background-position: 100% -104px;
     margin: 2px 2px;
}
.RadTabStripBottom_Telerik .rtsLevel1 .rtsLI .rtsAfter
{
    background-position: 0 -104px;
     margin: 2px 2px;
}

.RadTabStripBottom_Telerik .rtsLevel1 .rtsLast .rtsSelected .rtsOut
{
    background-position: 100% -156px;
     margin: 2px 2px;
}

.RadTabStripBottom_Telerik_Baseline .rtsLevel1
{
    background-position: 0 -599px;
    background-repeat: repeat-x;
     margin: 2px 2px;
}


/* </orientation: bottom> */

/* <orientation: right> */

.RadTabStripRight_Telerik .rtsUL .rtsLink, .RadTabStripRight_Telerik .rtsUL .rtsLI .rtsDisabled:hover
{
    background-position: 100% 0;
    text-align: left;
     margin: 2px 2px;
}
.RadTabStripRight_Telerik .rtsUL .rtsLink:hover
{
    background-position: 100% -200px;
     margin: 2px 2px;
}
.RadTabStripRight_Telerik .rtsUL .rtsSelected, .RadTabStripRight_Telerik .rtsUL .rtsSelected:hover
{
    background-position: 100% -400px;
     margin: 2px 2px;
}

/* </orientation: right> */

/* </background positioning: tabs with hovers> */

/* <simplistic sub-item styles> */

.RadTabStripTop_Telerik_rtl .rtsLevel1 .rtsLink
{
    padding-left: 0;
    padding-right: 2px;
    margin: 10px 10px;
}

.RadTabStripTop_Telerik_rtl .rtsLevel1 .rtsOut
{
    padding-left: 2px;
    padding-right: 0;
   
}

.RadTabStripTop_Telerik_rtl .rtsLevel1 .rtsLink, .RadTabStripTop_Telerik_rtl .rtsLevel1 .rtsOut
{
    background-image: url('TabStrip/TabStripStates_rtl.png');
    
}

.RadTabStripTop_Telerik_rtl .rtsLevel1 .rtsLink
{
    background-position: 100% -52px;
     margin: 2px 2px;
}
.RadTabStripTop_Telerik_rtl .rtsLevel1 .rtsFirst .rtsLink
{
    background-position: 100% 0; margin: 2px 2px;
}
.RadTabStripTop_Telerik_rtl .rtsLevel1 .rtsOut
{
    background-position: 0 -52px;
     
}
.RadTabStripTop_Telerik_rtl .rtsLevel1 .rtsLast .rtsOut
{
    background-position: 0 0;
    
}

.RadTabStripTop_Telerik_rtl .rtsLevel1 .rtsLI .rtsSelected
{
    background-position: 100% -26px;
    margin: 2px 2px;
}
.RadTabStripTop_Telerik_rtl .rtsLevel1 .rtsSelected .rtsOut
{
    background-position: 0 -78px;
     
}
.RadTabStripTop_Telerik_rtl .rtsLevel1 .rtsLI .rtsAfter
{
    background-position: 100% -78px;
     margin: 2px 2px;
}

.RadTabStripTop_Telerik_rtl .rtsLevel1 .rtsLast .rtsSelected .rtsOut
{
    background-position: 0 -26px;
     margin: 2px 2px;
}


/* </simplistic sub-item styles> */