/****** Object:  StoredProcedure [dbo].[SP_GetAdviserUser]    Script Date: 06/24/2009 11:57:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetAdviserUser]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_GetAdviserUser]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAdviserUser]    Script Date: 06/24/2009 11:57:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetAdviserUser]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE procedure [dbo].[SP_GetAdviserUser]
@U_UserId BIGINT
as
select * from Adviser where U_UserId=@U_UserId
' 
END
GO
