/****** Object:  StoredProcedure [dbo].[SP_GetSchemeCode]    Script Date: 06/24/2009 12:04:48 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetSchemeCode]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_GetSchemeCode]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSchemeCode]    Script Date: 06/24/2009 12:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_GetSchemeCode]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetSchemeCode]
@PASP_SchemePlan VARCHAR(MAX)
AS
SELECT * FROM dbo.ProductAMCSchemePlan WHERE PASP_SchemePlanName=@PASP_SchemePlan' 
END
GO
