<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EquityMarket" value="http://122.166.49.40:89/MarketData/GetEquityMarketPrice/"/>
    <add key="EquityMaster" value="http://122.166.49.40:89/MarketData/GetEquityScriptMaster"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnection" connectionString="Server=172.15.17.70;Database=WealthERP_SBI_UAT;User Id=sa;Password=$ql$erver2008" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>