/*GridViewCSS Glass Black Style*/
.GridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size: small;
    table-layout: auto;
    border-collapse: collapse;
    /*border: #1d1d1d 5px solid;*/
    /*width: 602px;
    height: 64px;*/
    width:100%;
    background-image: url(Images/rgCommandRow.gif);  
}
/*Header and Pager styles*/
.HeaderStyle, .PagerStyle /*Common Styles*/
{
    /* border: Inset 2px black; */
     background-image: url(Images/testSCBbackground.gif) repeat-x;
    background-position: center;
    background-repeat: repeat-x;
    vertical-align:top;
}
.HeaderStyle th
{
    padding: 5px;
    color: #4B4726;
}
.HeaderStyle a
{
    text-decoration: none;
    color: #4B4726;
    display: block;
    text-align: left;
    /*font-weight: bold;*/
}
.PagerStyle table
{
    text-align: center;
    margin: auto;
}

.PagerStyle table td
{
    border: 0px;
    padding: 5px;
}
.PagerStyle td
{
    border-top: #1d1d1d 3px solid;
}
.PagerStyle a
{
    color: #4B4726;
    text-decoration: none;
    padding: 2px 10px 2px 10px;
    border-top: solid 1px #777777;
    border-right: solid 1px #333333;
    border-bottom: solid 1px #333333;
    border-left: solid 1px #777777;
}
.PagerStyle span
{
    font-weight: bold;
    color: #4B4726;
    text-decoration: none;
    padding: 2px 10px 2px 10px;
}
/*RowStyles*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/
{
    font-family: Verdana,tahoma;
    padding: 3px;
    border-right: solid 1px #1d1d1d;
    font-size: 11px;
}
.RowStyle td
{
    font-family: Verdana,tahoma;
    font-size: 11px;
    background-color: #FFFED1;
   
}
.AltRowStyle td
{
    background-color: #FFECA3;
}
.SelectedRowStyle td
{
    background-color: #ffff66;
    color:#333333;
}

.FooterStyle td
{
     background-image: url(Images/rgCommandRow.gif);
    color: #4B4726;
    font-family: Verdana,tahoma;
    font-weight: bold;
    font-size: x-small;
}
