<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement"/>

  </configSections>
  <exceptionManagement mode="On">
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.CustomPublisher.FileExceptionPublisher" fileName="D:\WRPErrorLog\WebSiteErrorLog.txt" exclude="System.Threading.ThreadAbortException"/>
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.CustomPublisher.EmailExceptionPublisher" exclude="System.Threading.ThreadAbortException"/>
  </exceptionManagement>
  <appSettings>
    <add key="SMTPSvr" value="127.0.0.1" />
    <add key="ExceptionMailFrom" value="ExceptionManager@principalconsulting.net" />
    <add key="ExceptionMailTo" value="pcgtechteam@yahoogroups.co.in" />
    <add key="xmlFilePath" value="D:\WealthERP.com\Source Code\EquityPriceDownloadUpload\EquityPriceDownloadUpload\PMT_Uploads_XML\"/>
    <add key="EmailPath" value="\Email" />
   
  </appSettings>
  
  

  <connectionStrings>
    <add name="wealtherp" connectionString="Server=192.168.0.1;Database=WealthERP_QA;User Id=platinum;Password=philipsSHL9550" providerName="System.Data.SqlClient"/>
    <add name="marketdb" connectionString="Server=192.168.0.1;Database=MarketData_db;User Id=platinum;Password=philipsSHL9550" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="admin@wealtherp.com">
        <network defaultCredentials="false" host="smtpout.secureserver.net" port="3535" userName="admin@wealtherp.com" password="Ampsys123#"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>