<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement"/>

  </configSections>
  <exceptionManagement mode="On">
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.CustomPublisher.FileExceptionPublisher" fileName="D:\WRPErrorLog\WebSiteErrorLog.txt" exclude="System.Threading.ThreadAbortException"/>
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.CustomPublisher.EmailExceptionPublisher" exclude="System.Threading.ThreadAbortException"/>
  </exceptionManagement>
  <appSettings>
    <add key="SMTPSvr" value="127.0.0.1" />

    <add key="ExceptionMailFrom" value="ExceptionManager@principalconsulting.net" />
    <add key="ExceptionMailTo" value="pcgtechteam@yahoogroups.co.in" />
    <add key="LocalStoragePath" value="c:\PCGNAVData"/>
    <add key="RemoteUrl" value="http://ftpservice.acesphere.com"/>
    <add key="MFDir" value="/mutualfund"/>
    <add key="DateDiff" value="1"/>
    <add key="NotifyOnRejection" value="0"/>
    <add key="MFFileName" value="/CURRENTNAV.ace"/>
    <add key="AFDBconnStr" value="Server = 192.168.0.2;Database=AF_ProductMaster;User ID=platinum;Password=crystal93#;Trusted_Connection=False;"/>
    <!--<add key="WERPDBconnStr" value="Server = 122.166.49.39; Database = WealthERPQA; User ID = sa; Password = pcg123#; Trusted_Connection = False;"/>-->
    <add key="WERPDBconnStr" value="Server=192.168.0.2;Database=WealthERP_DEV;User ID= platinum;Password=crystal93#;Trusted_Connection=False;"/>
    <add key="DataStore" value="D:\WealthERP.com\Source Code\WealthERPSolution\AmpsysJobDaemon\DataStore" />
    <add key="AccordFTPServer" value="ftpservice.acesphere.com" />
    <add key="AccordFTPUsername" value="AHNTTMZe6fE2jgQbllajtg==" />
    <add key="AccordFTPPassword" value="6ceHr+F7dLlGW44efd/yOg==" />
    <add key="AccordImportDate" value="#RUNDATE#"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Server=192.168.0.2;Database=WealthERP_DEV;User Id=platinum;Password=crystal93#" providerName="System.Data.SqlClient"/>
    <add name="wealtherp" connectionString="Server=192.168.0.2;Database=WealthERP_DEV;User Id=platinum;Password=crystal93#" providerName="System.Data.SqlClient"/>
    <add name="AccordDBConnectionString" connectionString="Server=192.168.0.2;Database=AF_ProductMaster;User Id=platinum;Password=crystal93#" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>