/*Telerik RadInput Vista Skin*/

/*global*/

.RadInput_Telerik,
.RadInputMgr_Telerik
{
	font:12px "segoe ui",arial,sans-serif;
}

/*textbox states*/

html body .RadInput_Telerik .riTextBox,
html body .RadInputMgr_Telerik
{
	border-color:#aeadb2 #dfdce6 #e9e6f0 #e7e6eb;
	background:#ffffff;
	color:#000000;
	font:12px "segoe ui",arial,sans-serif;
}

html body .RadInput_Telerik .riEmpty,
html body .RadInput_Empty_Telerik
{
	color:#8a8a8a;
}

html body .RadInput_Telerik .riHover,
html body .RadInput_Hover_Telerik,
html body .RadInput_Telerik .riFocused,
html body .RadInput_Focused_Telerik
{
	border-color:#7d67bf #cbc0eb #d9d0f2 #d4cced;
}

html body .RadInput_Telerik .riRead,
html body .RadInput_Read_Telerik
{
	border-color:#e9e6f0;
}

html body .RadInput_Telerik .riDisabled,
html body .RadInput_Disabled_Telerik
{
	border-color:#e9e6f0;
	color:#8a8a8a;
	cursor:default;
}

html body .RadInput_Telerik .riError,
html body .RadInput_Error_Telerik
{
	border-color:#5d40b2 #7756db #7f5beb #7b57e6;
	background:#ffffff 100% -298px no-repeat url('Input/sprite.gif');
	color:#5d40b2;
}

.RadForm.rfdTextbox .RadInput_Telerik .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_Telerik[type="text"]
{
	border-color:#5d40b2 #7756db #7f5beb #7b57e6;
	background:#ffffff 100% -298px no-repeat url('Input/sprite.gif');
	color:#5d40b2;
}

html body .RadInput_Telerik .riNegative,
html body .RadInput_Negative_Telerik
{
	color:#575757;
}

/*buttons*/

.RadInput_Telerik a
{
	background:transparent no-repeat url('Input/sprite.gif');
}

/*go*/

.RadInput_Telerik .riBtn a
{
	width:20px;
	height:18px; 
	line-height:18px;
	background-position:3px 5px;
}

.RadInput_Telerik .riBtn a:hover
{
	background-position:3px -45px;
}

/*spin*/

.RadInput_Telerik .riSpin a
{
	width:15px;
	height:7px; 
	line-height:7px;
}

.RadInput_Telerik a.riUp
{
	background-position:4px -98px;
}

.RadInput_Telerik a.riUp:hover
{
	background-position:4px -148px;
}

.RadInput_Telerik a.riDown
{
	background-position:4px -199px;
}

.RadInput_Telerik a.riDown:hover
{
	background-position:4px -249px;
}

/*label*/

.RadInput_Telerik .riLabel
{
	color:#000000;
}

/*rtl*/

html body .RadInputRTL_Telerik .riError,
html body .RadInputRTL_Error_Telerik
{
	background-position:3px -298px;
}

.RadForm.rfdTextbox .RadInputRTL_Telerik .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_Telerik[type="text"]
{
	background-position:3px -298px;
}