/* <RadMenu / Vista> */

.RadMenu_Telerik .rmRootGroup,
.RadMenu_Telerik .rmFirst,
.RadMenu_Telerik a.rmLink,
.RadMenu_Telerik .rmText,
.RadMenu_Telerik .rmLeftArrow,
.RadMenu_Telerik .rmRightArrow,
.RadMenu_Telerik .rmTopArrow,
.RadMenu_Telerik .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Telerik .rmRootGroup
{
	border: 1px solid #bfbacc;
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: #e8e4f5;
}

.RadMenu_Telerik .rmFirst
{
	background-position: 0 -24px;
}

.RadMenu_Telerik .rmVertical .rmFirst,
.RadMenu_Telerik .rmVertical .rmLast
{
	background: none;
	padding: 0;
}

/* <Root items> */

.RadMenu_Telerik,
.RadMenu_Telerik a.rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #000000;
	text-decoration: none;
}

.RadMenu_Telerik a.rmLink,
.RadMenu_Telerik .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_Telerik a.rmLink:hover,
.RadMenu_Telerik a.rmFocused,
.RadMenu_Telerik a.rmSelected
{
	background-position: 0 -72px;
}

.RadMenu_Telerik a.rmLink:hover .rmText,
.RadMenu_Telerik a.rmFocused .rmText,
.RadMenu_Telerik a.rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Telerik a.rmExpanded,
.RadMenu_Telerik a.rmExpanded:hover
{
	background-position: 0 -120px;
}

.RadMenu_Telerik a.rmExpanded .rmText,
.RadMenu_Telerik a.rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_Telerik a.rmDisabled,
.RadMenu_Telerik a.rmDisabled:hover
{
	color: #7d7d7d;
}

.RadMenu_Telerik a.rmDisabled:hover,
.RadMenu_Telerik a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Telerik .rmGroup,
.RadMenu_Telerik .rmMultiColumn,
.RadMenu_Telerik .rmGroup .rmVertical
{
	border: 1px solid #969696;
	background: #f0f0f0 url('Menu/rmVSprite.png') repeat-y 0 0;
}

.RadMenu_Telerik .rmTopFix,
.RadMenu_Telerik .rmBottomFix,
.RadMenu_Telerik .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Telerik .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Telerik .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Telerik_Context.rmRoundedCorners .rmGroup .rmItem
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f0f0f0; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

* html .rmRoundedCorners_Telerik .rmGroup .rmItem
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f0f0f0; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Telerik .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Telerik .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Telerik .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Telerik_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_Telerik .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Telerik .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Telerik .rmHorizontal .rmItem,
* html .rmRoundedCorners_Telerik .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_Telerik .rmRoundedCorners .rmGroupColumn
{
	background-color: #f0f0f0;
}

.RadMenu_Telerik .rmBottomLeft,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Telerik_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Telerik .rmRoundedCorners ul.rmGroup,
.RadMenu_Telerik .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_Telerik .rmScrollWrapContainer,
* html .rmRoundedCorners_Telerik .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Telerik ul.rmGroup
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Telerik .rmTopRight,
.RadMenu_Telerik .rmBottomRight
{
	background-image:  url('Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Telerik .rmTopFix,
.RadMenu_Telerik .rmBottomFix,
.RadMenu_Telerik .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Telerik_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Telerik .rmGroup .rmFirst
{
	border-color: #969696;
}

.RadMenu_Telerik li.rmTopFix,
.RadMenu_Telerik li.rmBottomFix
{
	background: #f0f0f0;
}

.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f0f0f0;
	border: 0;
}

* html .rmRoundedCorners_Telerik .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Telerik .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Telerik .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Telerik .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f0f0f0;
	border: 0;
}

.RadMenu_Telerik_rtl .rmBottomLeft,
.RadMenu_Telerik_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Telerik_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Telerik .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Telerik_Context_rtl ul.rmGroup,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_Telerik_rtl .rmTopRight,
.RadMenu_Telerik_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_Telerik_rtl li.rmTopFix,
.RadMenu_Telerik_rtl li.rmBottomFix,
.RadMenu_Telerik_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Telerik_Context_rtl ul.rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_Telerik .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Telerik_rtl .rmGroup,
.RadMenu_Telerik_rtl .rmMultiColumn,
.RadMenu_Telerik_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_Telerik .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Telerik .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Telerik .rmGroup .rmFirst,
.RadMenu_Telerik .rmGroup .rmLast,
.RadMenu_Telerik .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_Telerik_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Telerik .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_Telerik .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Telerik .rmGroup a.rmLink:hover,
.RadMenu_Telerik .rmGroup a.rmFocused,
.RadMenu_Telerik .rmGroup a.rmSelected,
.RadMenu_Telerik .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Telerik .rmGroup a.rmLink:hover .rmText,
.RadMenu_Telerik .rmGroup a.rmFocused .rmText,
.RadMenu_Telerik .rmGroup a.rmSelected .rmText,
.RadMenu_Telerik .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_Telerik .rmGroup .rmExpandRight,
.RadMenu_Telerik .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Telerik .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Telerik .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Telerik .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Telerik .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Telerik .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Telerik .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Telerik .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Telerik .rmGroup a.rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_Telerik .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Telerik .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Telerik_rtl .rmGroup a.rmLink:hover,
.RadMenu_Telerik_rtl .rmGroup a.rmFocused,
.RadMenu_Telerik_rtl .rmGroup a.rmSelected,
.RadMenu_Telerik_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Telerik_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Telerik_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Telerik_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Telerik_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Telerik_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Telerik_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Telerik_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Telerik_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Telerik_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Vista - specific, overlapping submenus)> */

.RadMenu_Telerik .rmSlide
{
	margin: -3px 0 0 1px;
}

.RadMenu_Telerik .rmVertical .rmSlide,
.RadMenu_Telerik .rmSlide .rmSlide,
.RadMenu_Telerik_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Telerik_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_Telerik_rtl .rmVertical .rmSlide,
.RadMenu_Telerik_rtl .rmSlide .rmSlide,
.RadMenu_Telerik_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Telerik .rmLeftArrow,
.RadMenu_Telerik .rmRightArrow
{
	background-color: #e8e4f5;
}

.RadMenu_Telerik .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #bfbacc; }
.RadMenu_Telerik .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #bfbacc; }

.RadMenu_Telerik .rmTopArrow,
.RadMenu_Telerik .rmBottomArrow,
.RadMenu_Telerik .rmGroup .rmLeftArrow,
.RadMenu_Telerik .rmGroup .rmRightArrow
{
	background-color: #f0f0f0;
}

.RadMenu_Telerik .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #bfbacc; }
.RadMenu_Telerik .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #bfbacc; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Telerik .rmVertical .rmSeparator .rmText,
.RadMenu_Telerik .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Telerik .rmHorizontal .rmSeparator .rmText,
.RadMenu_Telerik .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Vista> */
