.RadPanelBar_Telerik
{
    background-color: #C7B5FA !important;
    
}

.RadPanelBar_Telerik .rpRootGroup
{
	border-color: #a7bac5 #a7bac5 #8cabc0;
}

.RadPanelBar_Telerik a.rpLink,
.RadPanelBar_Telerik .rpTemplate
{
    
	color: #039;
	font: normal 12px/24px "Segoe UI", Arial, sans-serif;
}

.RadPanelBar_Telerik a.rpLink
{
	background-image: url('PanelBar/rgCommandRow.gif') !important;
}

.RadPanelBar_Telerik .rpOut
{
    background-image: url('PanelBar/rgCommandRow.gif')  ;
    
	border-color: #A6D9F4;
}

.RadPanelBar_Telerik a.rpLink
{
    background-image: url('PanelBar/rgCommandRow.gif') !important;
	
	border-color:  #E8F5FC;
}

.RadPanelBar_Telerik a.rpExpanded
{
     background-image: url('PanelBar/SelectedrgCommandRow.gif') ;
	border-color: #3C7FB1;
}

.RadPanelBar_Telerik a.rpFocused,
.RadPanelBar_Telerik a.rpLink:hover
{
    background-image: url('PanelBar/HoveRrgCommandRow.gif') !important;
    
	color: #0060ef;
}

.RadPanelBar_Telerik a.rpSelected
{
    
    background-image: url('PanelBar/SelectedrgCommandRow.gif') !important;
    
}
.RadPanelBar_Telerik a.rpSelected:hover
{
	background-image: url('PanelBar/SelectedrgCommandRow.gif') !important;
}

/* <disabled items> */
.RadPanelBar_Telerik a.rpDisabled,
.RadPanelBar_Telerik a.rpDisabled:hover
{
	color: #bbb;
}

.RadPanelBar_Telerik a.rpDisabled .rpOut
{

	border-color: #A6D9F4;
}
/* </disabled items> */

/* <subitems> */
.RadPanelBar_Telerik .rpGroup
{
	background-color: #C7B5FA ;
}

.RadPanelBar_Telerik .rpGroup a.rpLink,
.RadPanelBar_Telerik .rpGroup .rpTemplate
{
	color: #000;
	background-color: transparent;
	background-image: none;
}

.RadPanelBar_Telerik .rpGroup a.rpLink:hover
{
	color: #000;
}

.RadPanelBar_Telerik .rpGroup a.rpLink,
.RadPanelBar_Telerik .rpGroup .rpOut
{
     
	background-color: transparent;
	background-image: url('PanelBar/SubItemStates.png');
	background-repeat: no-repeat;
}


/* <subitems (disabled)> */
.RadPanelBar_Telerik .rpGroup a.rpDisabled,
.RadPanelBar_Telerik .rpGroup a.rpDisabled:hover,
.RadPanelBar_Telerik .rpGroup a.rpDisabled:hover .rpOut
{
	background-image: none;
}

.RadPanelBar_Telerik .rpGroup a.rpDisabled,
.RadPanelBar_Telerik .rpGroup a.rpDisabled:hover
{
	color: #bbb;
	text-decoration: none;
	background-color: #fff;
}
/* </subitems (disabled)> */

/* <subitems> */

/* <background positioning> */
.RadPanelBar_Telerik a.rpFocused,
.RadPanelBar_Telerik a.rpLink:hover,
.RadPanelBar_Telerik a.rpExpanded:hover
{
    
	background-position: 0 -200px;
	
}

.RadPanelBar_Telerik a.rpLink,
.RadPanelBar_Telerik a.rpExpanded,
.RadPanelBar_Telerik .rpItem a.rpLinkExpandHovered
{
	background-position: 0 0;
}

.RadPanelBar_Telerik a.rpSelected,
.RadPanelBar_Telerik a.rpSelected:hover
{
	background-position: 0 -400px;
}
.RadPanelBar_Telerik a.rpSelected:
{
	background-position: 0 -400px;
}

.RadPanelBar_Telerik .rpFirst a.rpLink,
.RadPanelBar_Telerik .rpFirst a.rpExpanded
{
    background-image: url('PanelBar/rgCommandRow.gif');
	background-position: 0 -1px;
	 
}

.RadPanelBar_Telerik .rpFirst a.rpFocused,
.RadPanelBar_Telerik .rpFirst a.rpLink:hover
{
	background-position: 0 -201px;
}

.RadPanelBar_Telerik .rpFirst a.rpSelected,
.RadPanelBar_Telerik .rpFirst a.rpSelected
{
    
	background-position: 0 -401px;
}

/* <root items (disabled)> */
.RadPanelBar_Telerik a.rpDisabled:hover
{
	cursor: default;
}

.RadPanelBar_Telerik a.rpDisabled,
.RadPanelBar_Telerik a.rpDisabled:hover,
.RadPanelBar_Telerik a.rpDisabled:hover .rpOut
{
	background-position: 0 0;
}
/* </root items (disabled)> */

/*      <expand arrows> */
/* <expand arrows> */
.RadPanelBar_Telerik a.rpExpandable .rpExpandHandle,
.RadPanelBar_Telerik a.rpExpanded .rpExpandHandle
{
    font-weight: bold ;
	border: 0px;
	background-image: url('PanelBar/Expandable.png') !important;
	background-repeat: no-repeat;
}

.RadPanelBar_Telerik_rtl .rpGroup .rpText
{
	padding: 0 10px;
	
}

.RadPanelBar_Telerik a.rpExpandable .rpExpandHandle,
.RadPanelBar_Telerik a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -5px; }
.RadPanelBar_Telerik a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_Telerik a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -5px; }
.RadPanelBar_Telerik a.rpExpanded .rpExpandHandle,
.RadPanelBar_Telerik a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -181px; }
.RadPanelBar_Telerik a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_Telerik a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -181px; }

/*      </expand arrows> */

.RadPanelBar_Telerik .rpGroup a.rpLink,
.RadPanelBar_Telerik .rpGroup a.rpLink .rpOut { background-position: 0 200px;  }

.RadPanelBar_Telerik .rpGroup a.rpLink:hover,
.RadPanelBar_Telerik .rpGroup a.rpFocused { background-position: 100% -22px; }
.RadPanelBar_Telerik .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar_Telerik .rpGroup a.rpFocused .rpOut { background-position: 0 0; }

/*      <subitems (selected)> */
.RadPanelBar_Telerik .rpGroup a.rpSelected,
.RadPanelBar_Telerik .rpGroup a.rpSelected:hover { background-position: 100% -222px; background-color: transparent; }
.RadPanelBar_Telerik .rpGroup a.rpSelected .rpOut,
.RadPanelBar_Telerik .rpGroup a.rpSelected:hover .rpOut { background-position: 0 -200px; }
/*      </subitems (selected)> */

/*      <subitems (expand arrows)> */
.RadPanelBar_Telerik .rpGroup a.rpExpandable .rpExpandHandle,
.RadPanelBar_Telerik .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -343px;  }
.RadPanelBar_Telerik .rpGroup a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_Telerik .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -343px;  }
.RadPanelBar_Telerik .rpGroup a.rpExpanded .rpExpandHandle,
.RadPanelBar_Telerik .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -482px;  }
.RadPanelBar_Telerik .rpGroup a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_Telerik .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -482px; }
/*      </subitems (expand arrows)> */
/* </background positioning> */




 div.RadPanelBar_Telerik .rpRootGroup .rpLink {

	background-image: url('ImageHandler.ashx?mode=get&suite=aspnet-ajax&control=PanelBar&skin=Telerik&file=rgCommandRow.gif&t=1244378174');

	background-color: transparent;
    
	color: rgb(255, 255, 255);

}

 div.RadPanelBar_Telerik .rpRootGroup .rpLink:hover {

	

	font-weight: bold;

	color: White;

	background-image: url('ImageHandler.ashx?mode=get&suite=aspnet-ajax&control=PanelBar&skin=Telerik&file=HoveRrgCommandRow.gif&t=1244378174');

	background-repeat: repeat;

}

 div.RadPanelBar_Telerik .rpRootGroup .rpExpandable {

	font-weight: bold;
    background-image: url('PanelBar/rgCommandRow.gif') !important;

}

 div.RadPanelBar_Telerik .rpRootGroup .rpExpanded {

	background-image: url('ImageHandler.ashx?mode=get&suite=aspnet-ajax&control=PanelBar&skin=Telerik&file=SelectedrgCommandRow.gif&t=1244378174');

	font-weight: bold;

}

 div.RadPanelBar_Telerik .rpRootGroup .rpSelected {

	background-image: url('ImageHandler.ashx?mode=get&suite=aspnet-ajax&control=PanelBar&skin=Telerik&file=SelectedrgCommandRow.gif&t=1244378174');

	font-weight: bold;

}

 div.RadPanelBar_Telerik .rpItem .rpGroup .rpLink {

	background-color: #C7B5FA;
	

	color: rgb(0, 0, 0);

}

 div.RadPanelBar_Telerik .rpItem .rpGroup .rpLink:hover {

    background-image: none !important;
	background-image: url('ImageHandler.ashx?mode=get&suite=aspnet-ajax&control=PanelBar&skin=Telerik&file=HoveRrgCommandRow.gif&t=1244378174');

	color: rgb(255, 255, 255);

}

 div.RadPanelBar_Telerik .rpItem .rpGroup .rpSelected {
    background-image: none;
	color: White;
	font-weight: bold !important;

}

 div.RadPanelBar_Telerik .rpItem .rpGroup .rpExpanded {

	color: rgb(255, 255, 255);
	background-image: none !important;

}

 div.RadPanelBar_Telerik .rpItem .rpGroup .rpLink .rpOut {

	background-image: none !important;
    
	background-color: #C7B5FA;

}

 div.RadPanelBar_Telerik .rpItem .rpGroup .rpLink .rpText {

	background-color: rgb(199, 181, 250);
	background-position: left;
	

}

 div.RadPanelBar_Telerik .rpItem .rpGroup .rpLink:hover .rpText {

	/* background-image: url('ImageHandler.ashx?mode=get&suite=aspnet-ajax&control=PanelBar&skin=Telerik&file=HoveRrgCommandRow.gif&t=1244378174'); */
     background-repeat : repeat-x;
}

 div.RadPanelBar_Telerik .rpItem .rpGroup .rpSelected .rpText {

	background-image: url('ImageHandler.ashx?mode=get&suite=aspnet-ajax&control=PanelBar&skin=Telerik&file=SelectedrgCommandRow.gif&t=1244378174');
    
}

 div.RadPanelBar_Telerik .rpItem .rpGroup .rpExpanded .rpText {

    background-image: none !important;
	background-image: url('ImageHandler.ashx?mode=get&suite=aspnet-ajax&control=PanelBar&skin=Telerik&file=SelectedrgCommandRow.gif&t=1244378174'); 
   
}
div.RadPanelBar_Telerik .rpItem .rpGroup .rpExpandable .rpText {
    
	font-weight: normal;
	background-image: none;
	
   
}

div.RadPanelBar_Telerik .rpItem .rpExpandable {
    
	font-weight: normal;
	background-image: none;
	   
}

