<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="logPath" value="D:\#Date#\Test.txt"/>
    <add key="host" value="smtpout.secureserver.net"/>
    <add key="port" value="3535"/>
    <add key="From" value="admin@wealtherp.com"/>
    <add key="UserName" value="admin@wealtherp.com"/>
    <add key="Password" value="Ampsys123#"/>
    <add key="To" value="vranjan@ampsys.in;ssujith@ampsys.in"/>
    <add key="Cc" value=""/>
    <add key="Bcc" value=""/>
    <add key="Subject" value="Server Alert"/>
    <add key="Message" value="There is a Server Alert For you from WERP Production"/>
    <add key="IsBulk" value="1"/>
    <add key="Attachment" value="D:\#Date#\Test.txt"/>
    <add key ="Wait" value="30"/>
  </appSettings>
</configuration>