<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="AFDBconnStr" value="Server = 122.166.49.39; Database = AF_ProductMaster; User ID = sa; Password = pcg123#; Trusted_Connection = False;"/>
  <add key="WERPDBconnStr" value="Server = 122.166.49.39; Database = WealthERPQA; User ID = sa; Password = pcg123#; Trusted_Connection = False;"/>
</configuration>