/*Telerik RadInput Vista Skin*/

/*global*/

.RadInput_Telerik,
.RadInputMgr_Telerik
{
	font:12px "segoe ui",arial,sans-serif;
}

/*textbox states*/

html body .RadInput_Telerik .riTextBox,
html body .RadInputMgr_Telerik
{
	border-color:#abadb3 #dbdfe6 #e3e9ef #e2e3ea;
	background:#fff;
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
}

html body .RadInput_Telerik .riEmpty,
html body .RadInput_Empty_Telerik
{
	color:#8a8a8a;
}

html body .RadInput_Telerik .riHover,
html body .RadInput_Hover_Telerik,
html body .RadInput_Telerik .riFocused,
html body .RadInput_Focused_Telerik
{
	border-color:#5794bf #b7d5ea #c7e2f1 #c5daed;
}

html body .RadInput_Telerik .riRead,
html body .RadInput_Read_Telerik
{
	border-color:#e3e9ef;
}

html body .RadInput_Telerik .riDisabled,
html body .RadInput_Disabled_Telerik
{
	border-color:#e3e9ef;
	color:#8a8a8a;
	cursor:default;
}

html body .RadInput_Telerik .riError,
html body .RadInput_Error_Telerik
{
	border-color:#b32d34 #dc643f #ea8541 #e5713e;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#b32d34;
}

.RadForm.rfdTextbox .RadInput_Telerik .riError[type="text"],
.RadForm.rfdTextbox .RadInput_Error_Telerik[type="text"]
{
	border-color:#b32d34 #dc643f #ea8541 #e5713e;
	background:#fff 100% -298px no-repeat url('Input/sprite.gif');
	color:#b32d34;
}

html body .RadInput_Telerik .riNegative,
html body .RadInput_Negative_Telerik
{
	color:#565656;
}

/*buttons*/

.RadInput_Telerik a
{
	background:transparent no-repeat url('Input/sprite.gif');
}

/*go*/

.RadInput_Telerik .riBtn a
{
	width:20px;
	height:18px; 
	line-height:18px;
	background-position:3px 5px;
}

.RadInput_Telerik .riBtn a:hover
{
	background-position:3px -45px;
}

/*spin*/

.RadInput_Telerik .riSpin a
{
	width:15px;
	height:7px; 
	line-height:7px;
}

.RadInput_Telerik a.riUp
{
	background-position:4px -98px;
}

.RadInput_Telerik a.riUp:hover
{
	background-position:4px -148px;
}

.RadInput_Telerik a.riDown
{
	background-position:4px -199px;
}

.RadInput_Telerik a.riDown:hover
{
	background-position:4px -249px;
}

/*label*/

.RadInput_Telerik .riLabel
{
	color:#000;
}

/*rtl*/

html body .RadInputRTL_Telerik .riError,
html body .RadInputRTL_Error_Telerik
{
	background-position:3px -298px;
}

.RadForm.rfdTextbox .RadInputRTL_Telerik .riError[type="text"],
.RadForm.rfdTextbox .RadInputRTL_Error_Telerik[type="text"]
{
	background-position:3px -298px;
}


 .RadInput_Telerik input.riTextBox {

	color: rgb(3, 0, 0);

	background-color: rgb(239, 169, 169);

}

 div.RadInput_Telerik .riLabel {

	color: rgb(138, 7, 11);

}

 .RadInput_Telerik input.riError {

	border-color: rgb(249, 189, 193);

}

