.RadSiteMap_Telerik .rsmLink,
.RadSiteMap_Telerik .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 0;
	color: #000000;
}

.RadSiteMap_Telerik .rsmLevel1 .rsmLink,
.RadSiteMap_Telerik .rsmLevel1 .rsmTemplate
{
	color: #636363;
}

.RadSiteMap_Telerik .rsmLink:hover
{
	color: #a3a3a3;
}

.RadSiteMap_Telerik .rsmLevel2 .rsmLink,
.RadSiteMap_Telerik .rsmLevel2 .rsmTemplate,
.RadSiteMap_Telerik .rsmThreeLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Telerik .rsmTwoLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Telerik .rsmOneLevel .rsmItem .rsmLink
{
	color: #000000;
}

.RadSiteMap_Telerik .rsmLevel2 .rsmLink:hover,
.RadSiteMap_Telerik .rsmThreeLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Telerik .rsmTwoLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Telerik .rsmOneLevel .rsmItem .rsmLink:hover
{
	background: #ebebeb url('SiteMap/rsmHover.png') repeat-x 0 0;
}
