<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement"/>
  </configSections>
  <connectionStrings>
    <add name="wealtherp" connectionString="Server=122.166.49.39;Database=wealtherpQA;User Id=sa;Password=pcg123#" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <exceptionManagement mode="On">
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.CustomPublisher.FileExceptionPublisher" fileName="D:\WRPErrorLog\WebSiteErrorLog.txt" exclude="System.Threading.ThreadAbortException"/>
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.CustomPublisher.EmailExceptionPublisher" exclude="System.Threading.ThreadAbortException"/>
  </exceptionManagement>
  <appSettings>
    <add key="ExceptionMailFrom" value="ExceptionManager@principalconsulting.net" />
    <add key="ExceptionMailTo" value="pcgtechteam@yahoogroups.co.in" />
  </appSettings>
</configuration>