<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    Dear [CUSTOMER_NAME],
    <br />
    <br />
    Thanks for registering with WealthERP<br />
    <br />
    Please click on the link and enter the user Id and password mentioned below.<br />
    <br />
    URL : <a href="http://app.wealtherp.com">http://app.wealtherp.com</a><br />
    <br />
    LoginId : [LOGIN-ID]<br />
    Password :[PASSWORD]<br />
    <br />
    <br />
    Regards,<br />
    WealthERP Team<br />
</body>
</html>



