<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <font face="Verdana" size="2">Dear [CUSTOMER_NAME], </font>
    <br />
    <br />
    <font face="Verdana" size="2"> Find below IFrame code for WealthERP Login Widget. </font>
    <br />
    <br />    
    <table border="1">
        <tr>
            <td align="left">
                <b><font face="Verdana" size="2">
                <br />
                 &lt;iframe scrolling="no" height="150" frameborder="0" width="240" style="padding-left: 10px;" allowtransparency="true" 
                 src="https://login.wealtherp.com/?AdviserId=[ENCRYPTED_KEY]" marginwidth="0" marginheight="0" &#47;&gt;                
                </font></b>
                 &nbsp;&nbsp;
                <br />
            </td>            
        </tr>        
    </table>
    
    <br />
    <br />
    <b><font face="Verdana" size="2">Best Regards,</font></b><br />
    ____________________________<br />
    <font face="Verdana" size="2">[CONTACTPERSON]</font><br />
    <font face="Verdana" size="2">[DESIGNATION]</font><br />    
    <font face="Verdana" size="2">[LOGO]</font><br />    
    <font face="Verdana" size="2">Phone :[PHONE]</font><br />
    <font face="Verdana" size="2">Email: <a href="[EMAIL]" target="_blank">[EMAIL]</a></font>
</body>
</html>




