<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
       
    <font face="Verdana" size="2">Dear [CUSTOMER_NAME], </font>  
    <br />
    <br />    
    <font face="Verdana" size="2">An account has been created for you in [ORGANIZATION]. </font>
    <br />
    <br />
    <font face="Verdana" size="2">Your login information is as follows: </font><br />
    
    <table border="0">
        <tr>
            <td align="left">
                <b><font face="Verdana" size="2">LoginId</font></b>
            </td>
            <td align="left">
                <b><font face="Verdana" size="2">:</font></b>
            </td>
            <td align="left">
                <b><font face="Verdana" size="2">[LOGIN-ID]</font></b>
            </td>
        </tr>
        <tr>
            <td align="left">
                <b><font face="Verdana" size="2">Password</font></b>
            </td>
            <td align="left">
                <b><font face="Verdana" size="2">:</font></b>
            </td>
            <td align="left">
                <b><font face="Verdana" size="2">[PASSWORD]</font></b>
            </td>
        </tr>
    </table>
       
    <br />
    <font face="Verdana" size="2">For Login please visit <a href="[WEBSITE]" target="_blank"> [WEBSITE]</a></font>
    <br />
    <br />
    <b><font face="Verdana" size="2">Best Regards,</font></b><br />
    <font face="Verdana" size="2">[CONTACTPERSON]</font><br />
    <font face="Verdana" size="2">[DESIGNATION]</font><br /><br />
    
     <font face="Verdana" size="2">[LOGO]</font><br /><br />
        
    <font face="Verdana" size="2">Phone :[PHONE]</font><br />
    <font face="Verdana" size="2">Email  :[EMAIL]</font>
</body>
</html>
