<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DBConnectionString" value="Server=122.166.49.39;Database=wealtherpQA;User Id=sa;Password=pcg123#"/>-->
    <add key="SMTPServer" value="smtpout.secureserver.net"/>
    <add key="SMTPPort" value="3535"/>
    <add key="SMTPUsername" value="AJ2uxHLS9+CW9LldiMODnL59213ckjYdh33om5XsZck="/>
    <add key="SMTPPassword" value="Iz7b+Cd2klQ1CS+5ljTP3w=="/>
    <add key="SMTPFromDisplay" value="WealthERP &lt;admin@wealtherp.com&gt;"/>
    <add key="SMTPFrom" value="WealthERP &lt;admin@wealtherp.com&gt;"/>
    <add key="SMTPInterMessageDelay" value="5"/>
    <add key="SMSURL" value="http://enterprise.smsgupshup.com/GatewayAPI/rest?method=sendMessage&amp;userid=#USERNAME#&amp;password=#PASSWORD#&amp;v=1.1&amp;msg_type=TEXT&amp;auth_scheme=PLAIN&amp;mask=P.C.G.&amp;msg=#MESSAGE#&amp;send_to=#NUMBER#"/>
    <add key="SMSUsername" value="VaunqlT4q8OZ41JiZt25pw=="/>
    <add key="SMSPassword" value="NnRuadWe6pe19LmAeMROUg=="/>
    <add key="SMSInterMessageDelay" value="5"/>

<!--    <add key="DBConnectionString" value="Server=122.166.49.39;Database=wealtherpQA;User Id=sa;Password=pcg123#"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPUsername" value="nitinalert1@gmail.com"/>
    <add key="SMTPPassword" value="Override2009"/>
    <add key="SMTPFromDisplay" value="Ampsys &lt;support@ampsys.com&gt;"/>
    <add key="SMTPFrom" value="Ampsys &lt;support@ampsys.com&gt;"/>
    <add key="SMTPInterMessageDelay" value="5"/>
    <add key="SMSURL" value=""/>
    <add key="SMSUsername" value="2000022093"/>
    <add key="SMSPassword" value="VDli4n4b2"/>
    <add key="SMSInterMessageDelay" value="5"/>
-->
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Server=122.166.49.39;Database=wealtherpQA;User Id=sa;Password=pcg123#" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  </configuration>
