.RadSiteMap_Telerik .rsmLink,
.RadSiteMap_Telerik .rsmTemplate
{
	font-family: "Segoe UI", Arial, sans-serif;
	border-bottom: 0;
	color: #000;
}

.RadSiteMap_Telerik .rsmLevel1 .rsmLink,
.RadSiteMap_Telerik .rsmLevel1 .rsmTemplate
{
	color: #567db0;
}

.RadSiteMap_Telerik .rsmLink:hover
{
	color: #4d89d9;
}

.RadSiteMap_Telerik .rsmLevel2 .rsmLink,
.RadSiteMap_Telerik .rsmLevel2 .rsmTemplate,
.RadSiteMap_Telerik .rsmThreeLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Telerik .rsmTwoLevels .rsmLevel1 .rsmLink,
.RadSiteMap_Telerik .rsmOneLevel .rsmItem .rsmLink
{
	color: #000;
}

.RadSiteMap_Telerik .rsmLevel2 .rsmLink:hover,
.RadSiteMap_Telerik .rsmThreeLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Telerik .rsmTwoLevels .rsmLevel1 .rsmLink:hover,
.RadSiteMap_Telerik .rsmOneLevel .rsmItem .rsmLink:hover
{
	background: #d8f0fc url('SiteMap/rsmHover.png') repeat-x 0 0;
}


 div.RadSiteMap_Telerik .rsmLink {
	color: rgb(138, 7, 11);
	font-weight: bold;
}
 div.RadSiteMap_Telerik .rsmTemplate {
	color: rgb(138, 7, 11);
	font-weight: bold;
}
 div.RadSiteMap_Telerik .rsmLevel1 .rsmLink {
	font-weight: bold;
	color: rgb(154, 16, 25);
}
 div.RadSiteMap_Telerik .rsmLevel1 .rsmTemplate {
	font-weight: bold;
	color: rgb(154, 16, 25);
}
 div.RadSiteMap_Telerik .rsmLevel2 .rsmLink {
	color: rgb(174, 28, 37);
}
 div.RadSiteMap_Telerik .rsmLevel2 .rsmTemplate {
	color: rgb(174, 28, 37);
}
 div.RadSiteMap_Telerik .rsmLevel3 .rsmLink {
	color: rgb(134, 6, 14);
}
 div.RadSiteMap_Telerik .rsmLevel3 .rsmTemplate {
	color: rgb(134, 6, 14);
}
 div.RadSiteMap_Telerik .rsmLevel2 .rsmLink:hover {
	color: rgb(192, 66, 73);
	background-color: rgb(245, 189, 193);
	background-image: none;
}
 div.RadSiteMap_Telerik .rsmThreeLevels .rsmLevel1 .rsmLink:hover {
	color: rgb(192, 66, 73);
	background-color: rgb(245, 189, 193);
	background-image: none;
}
 div.RadSiteMap_Telerik .rsmTwoLevels .rsmLevel1 .rsmLink:hover {
	color: rgb(192, 66, 73);
	background-color: rgb(245, 189, 193);
	background-image: none;
}
 div.RadSiteMap_Telerik .rsmOneLevel .rsmItem .rsmLink:hover {
	color: rgb(192, 66, 73);
	background-color: rgb(245, 189, 193);
	background-image: none;
}
