<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    Hello Administrator,
    <br />
    <br />
    A new adviser has been registered in WealthERP.com
    <br />
    Login information is as follows:<br /><br />
    Organization Name   :[ORGANIZATION-NAME]<br />    
    Name                :[NAME]<br />
    City                :[CITY]<br />
    Mobile No           :[MOBILE NO]<br />
    Email Id            :[EMAIL-ID]<br />    
    LoginId             :[LOGIN-ID]<br />
    
    <br /><br />
    Regards,<br />
    WealthERP Team<br />
</body>
</html>



