<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  THIS IS THE ACTUAL NLOG
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="Console" layout="${longdate} ${level} |${message}" />
    <target name="file" xsi:type="File" fileName="LOGS\\NAV_LOG--${shortdate}.txt" />
    
    <target name="mail" xsi:type="Mail"  smtpServer="smtp.bizmail.yahoo.com" 
            smtpPort="587" smtpAuthentication="Basic"
            smtpUsername="wadmin@principalconsulting.net"
            smtpPassword="touchbase" 
            from="wadmin@principalconsulting.net"
            to="sujisays@gmail.com"
            cc="ssujith@ampsys.in" 
            
            />
    
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console,file" />
    <logger name="*" minlevel="Fatal" writeTo="mail" />
    
  </rules>
</nlog>
