<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LocalStoragePath" value="c:\Werp\Nav"/>
    <add key="RemoteUrl" value="http://ftpservice.acesphere.com"/>
    <add key="MFDir" value="/mutualfund"/>
    <add key="DateDiff" value="1"/>
    <add key="MFFileName" value="/CURRENTNAV.ace"/>
    <add key="AFDBconnStr" value="Server = 122.166.49.39; Database = AF_ProductMaster; User ID = sa; Password = pcg123#; Trusted_Connection = False;"/>
    
  </appSettings>
 
</configuration>