<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Microsoft.ApplicationBlocks.ExceptionManagement"/>

  </configSections>
  <exceptionManagement mode="On">
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.CustomPublisher.FileExceptionPublisher" fileName="D:\WRPErrorLog\WebSiteErrorLog.txt" exclude="System.Threading.ThreadAbortException"/>
    <publisher assembly="Microsoft.ApplicationBlocks.ExceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.CustomPublisher.EmailExceptionPublisher" exclude="System.Threading.ThreadAbortException"/>
  </exceptionManagement>
  <appSettings>
    <add key="SMTPSvr" value="127.0.0.1" />

    <add key="ExceptionMailFrom" value="ExceptionManager@principalconsulting.net" />
    <add key="ExceptionMailTo" value="pcgtechteam@yahoogroups.co.in" />
   
    <add key="ValuationLevelId" value="3"/>
    <add key="CommonId1" value="957501"/>
    <add key="CommonId2" value="1021"/>

    <!--
    AllAdviser:ValuationLevelId= 1-CommonId1=0(In case all adviser it should be zero),
    Adviser:ValuationLevelId= 2-CommonId1=1064(AdviserId),
    Customer:ValuationLevelId = 3-CommonId1=56713(CustomerId),
    Account :ValuationLevelId= 4-CommonId1=56713567(CustomerMutualFund accountId)-CommonId2=3456(SchemePlanCode)
    -->

  </appSettings>
  <connectionStrings>
    <!--<add name="wealtherp" connectionString="Server=192.168.0.1;Database=WealthERP_QA;User Id=platinum;Password=OursAmpsys" providerName="System.Data.SqlClient"/>-->
    <!--<add name="marketdb" connectionString="Server=192.168.0.1;Database=MarketData_db;User Id=platinum;Password=crystal93#" providerName="System.Data.SqlClient"/>
    <add name="wealtherp" connectionString="Server=124.153.106.54;Database=WealthERP;User Id=platinum;Password=crazyWERP4us" providerName="System.Data.SqlClie-->
<add name="wealtherp" connectionString="Server=172.15.17.70;Database=WealthERP_SBI_UAT;User Id=sa;Password=$ql$erver2008" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  
</configuration>